
.apos-totp {
  $block-width: 530px;

  position: relative;
  width: $block-width;
  left: calc((330px - $block-width) / 2); // 330 being the login wrapper size

  &__setup {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 1px solid #212121;
  }

  &__title {
    @include type-display;

    margin-top: 0;
    margin-bottom: 16px;
  }

  &__text {
    @include type-large;
  }

  &__scan-title {
    @include type-title;
  }

  &__qrcode {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  &__text-grey {
    @include type-large;

    color: var(--a-base-5);
    margin: 0;
  }

  &__token-container {
    position: relative;
    margin-top: 10px;
    text-align: right;
  }

  &__token {
    @include type-base;

    color: #F9F9F9;
    background-color: #0f0f0f;
    border: solid 1px #414141;
    padding: 5px;
    margin: 0 0 5px 0;
  }

  &__copy-token-btn {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    float: right;
  }

  &__copy-token-text {
    margin-left: 5px;
  }

  &__token-copied {
    position: absolute;
    bottom: 0;
    right: -20px;
  }

  &__login-text {
    margin-top: 20px;
  }

  &__login-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__login-input {
    height: 55px;
    width: 47px;
    box-sizing: border-box;
    text-align: center;
    font-size: var(--a-type-display);
    border-radius: 5px;
    background-color: #14171e;
    border: solid 1px #8895a7;
    color: #fff;

    appearance: textfield;

    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &:focus {
      outline: none;
    }
  }

  // &__login-submit ::v-deep .apos-button {
  //   height: 47px;
  // }
}
.apos-totp__login-submit ::v-deep .apos-button {
  height: 47px;

}